python-telegram-bot==20.8  # Tani waa version deggan oo Python 3.9 la shaqeeya
# Ama: python-telegram-bot==21.0.1 # Tani sidoo kale way la shaqeysaa Python 3.9
yt-dlp
google-generativeai
transformers
torch
ffmpeg-python
